<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="GameLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="naLauncherWPF.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<applicationSettings>
		<GameLibrary.Properties.Settings>
			<setting name="GamesDirectory" serializeAs="String">
				<value>c:\Users\filip\Games-tmp\</value>
			</setting>
			<setting name="GameImageSize" serializeAs="String">
				<value>460, 215</value>
			</setting>
			<setting name="BackupFilesToKeep" serializeAs="String">
				<value>3</value>
			</setting>
			<setting name="SteamApiKey" serializeAs="String">
				<value>E9F923F78E885FF3EC43818C77F6220C</value>
			</setting>
			<setting name="ScrapeSteamDb" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="UserSteamId" serializeAs="String">
				<value>76561198073257449</value>
			</setting>
			<setting name="IGDBApiKey" serializeAs="String">
				<value>bd97aa247b18545c21a5fa9f66b8b36e</value>
			</setting>
			<setting name="MaxGameDataAge" serializeAs="String">
				<value>365</value>
			</setting>
			<setting name="GameDataProviders" serializeAs="String">
				<!--<value>IgdbComData;UserData;SteamDbInfoData;SteamCryoTankNetData;SalenautsComData;</value>-->
				<value>IgdbComData;UserData;SteamDbInfoData;SteamCryoTankNetData;</value>
			</setting>
		</GameLibrary.Properties.Settings>
	</applicationSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<userSettings>
		<naLauncherWPF.App.Properties.Settings>
			<setting name="WindowPosition" serializeAs="String">
				<value>0, 0</value>
			</setting>
			<setting name="WindowSize" serializeAs="String">
				<value>1280, 720</value>
			</setting>
			<setting name="GridSize" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="Order" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="Filter" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="OrderAscending" serializeAs="String">
				<value>True</value>
			</setting>
		</naLauncherWPF.App.Properties.Settings>
	</userSettings>

</configuration>