<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="GameLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<GameLibrary.Properties.Settings>
			<setting name="GamesDirectory" serializeAs="String">
				<value />
			</setting>
			<setting name="GameImageSize" serializeAs="String">
				<value>460, 215</value>
			</setting>
			<setting name="BackupFilesToKeep" serializeAs="String">
				<value>3</value>
			</setting>
			<setting name="SteamApiKey" serializeAs="String">
				<value />
			</setting>
			<setting name="ScrapeSteamDb" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="UserSteamId" serializeAs="String">
				<value />
			</setting>
			<setting name="IGDBApiKey" serializeAs="String">
				<value />
			</setting>
			<setting name="FixLibrary" serializeAs="String">
				<value />
			</setting>
			<setting name="MaxGameDataAge" serializeAs="String">
				<value>365</value>
			</setting>
			<setting name="GameDataProviders" serializeAs="String">
				<value>IgdbComData;UserData;SteamDbInfoData;SteamCryoTankNetData;SalenautsComData;</value>
			</setting>
			<setting name="GameSpyInitialWait" serializeAs="String">
				<value>10</value>
			</setting>
			<setting name="GameSpyCheckTimer" serializeAs="String">
				<value>10</value>
			</setting>
			<setting name="IGDBApiUrl" serializeAs="String">
				<value>https://api.igdb.com/v4/</value>
			</setting>
		</GameLibrary.Properties.Settings>
	</applicationSettings>
</configuration>